@media (max-width: 992px) {

    /* general */

    body { font-size: 15px; padding: 0 0 75px 0; }
    .highlighted { font-size: 23px; }

    /* header */

    header { padding: 15px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
    header #header_title { font-size: 23px; }
    header #header_title img { display: none; }
    header #header_buttons img { height: 35px; margin: 10px 8px 0 8px; }

    /* wrapper */

    .wrapper { padding: 25px 35px; }
    .wrapper .content-title { margin-bottom: 5px; }

    /* inputs */

    .form-control { margin-bottom: 12px; font-size: 14px; }
    .btn, .btn:focus { padding: 8px 12px; font-size: 14px; margin-top: 12px; }

    /* modals */

    .modal-dialog { margin: auto; top: 10%; }
    .modal-title { font-size: 19px; }
    .modal-title img { height: 25px; }
    .modal-content { padding: 18px; }

    /* progress bar */

    #shiny-notification-panel { margin: 15px; }
    .shiny-notification { padding: 8px 16px; }

    /* filters */

    #filters > .form-group { width: 220px; }

    /* tabset */

    .nav-tabs li:not(:last-child) { margin-right: 5px; }
    .nav-tabs li a, .nav-tabs li a:focus { font-size: 15px; }
    #bars_plot { width: 500px !important; height: 355px !important; }

    /* leaflet */

    .leaflet-popup-content { margin: 11px 14px; }

    /* footer */
    footer { font-size: 14px; }
}

@media (max-width: 576px) {

    /* general */

    body { font-size: 15px; padding: 0 0 75px 0; }
    .highlighted { font-size: 22px; }

    /* header */

    header { padding: 15px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
    header #header_title { font-size: 23px; text-align: center; }
    header #header_title img { display: none; }
    header #header_buttons img { height: 35px; margin: 10px 8px 0 8px; }

    /* wrapper */

    .wrapper { padding: 20px 25px; }
    .wrapper .content-title { margin-bottom: 5px; }

    /* inputs */

    .form-group { max-width: 230px; margin: auto; }
    .form-control { margin-bottom: 10px; font-size: 14px; }
    .btn, .btn:focus { padding: 8px 12px; font-size: 14px; margin-top: 8px; }

    /* modals */

    .modal-dialog { margin: auto; top: 10%; max-width: 260px; }
    .modal-title { font-size: 19px; }
    .modal-title img { height: 25px; }
    .modal-content { padding: 18px; }

    /* progress bar */

    #shiny-notification-panel { margin: 15px; }
    .shiny-notification { padding: 8px 16px; }

    /* filters */

    #intro_button { margin: 0 100% 15px 100%; }

    /* tabset */

    .nav-tabs { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border: 0 }
    .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus { border-bottom-color: inherit; }
    .nav-tabs li a, .nav-tabs li a:focus { margin: 0 0 5px 0; } 

    .tab-pane[data-value="Geo Analysis"] .form-group { width: 250px }

    #bars_plot { width: 270px !important; height: 380px !important; }
    #box_plot { width: 270px !important; }
    #tukey_table { max-width: 270px; }
    #tukey_table > table { font-size: 13px; }

    /* leaflet */

    #map_plot .legend { font-size: 10px; min-width: 50px; }
    #map_plot .legend div:nth-child(2) span { width: 5px !important; }
    #map_plot .leaflet-popup-content .leaflet-popup-title { font-size: 13px; }
    #map_plot .leaflet-popup-content > *:not(.leaflet-popup-title) { display: none; }
    #map_plot .leaflet-popup-content .leaflet-popup-close-button { display: none }
    /* #map_plot .legend, #map_plot .leaflet-popup-pane { display: none; } */

    /* footer */
    footer { font-size: 12px; }
    footer #licenses { font-size: 11px; }
    footer #licenses > div { font-size: 10px; }
    footer #privacy_notice { font-size: 9px; }
    footer #privacy_notice_agree { padding: 0 5px; }
}
